@model Database.Models.Student
@{
    ViewBag.Title = "Registration";
}

<h2>Registration Form</h2>

@using (Html.BeginForm("Registration", "Home", FormMethod.Post))
{
    @Html.Label("Name")
    @Html.TextBoxFor(m => m.Name, new { @class = "Form-control" })<br /><br />
    @Html.Label("City")
    @Html.TextBoxFor(m => m.City, new { @class = "Form-control" })<br /><br />
    <button type="submit" value="submit" class="btn btn-primary">Submit</button>
}

